@import "./_header";
@import "./_fonts-var-mixin";
@import "./details";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(circle, #0A4235, #07322E);
  @include font-text;
  color: $white;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.pizzas {
  display: flex;
  justify-content: center;
  align-items: self-end;
  height: 100vh;

  img {
    @include flex-align;
    justify-content: center;
    width: 1000px;
    height: 1000px;
    padding: 50px;
    position: absolute;
    bottom: 0;
    border: 4px solid $lightGreen;
    border-radius: 50%;
    outline: 4px solid $white;
    outline-offset: -70px;
    transform: translateY(50%);
  }

  .names {
    position: relative;
    margin-bottom: 950px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    transform: translateY(50%);

    div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: $lightGreen;
      &:hover {
        color: $white;
        cursor: pointer;
      }

      span {
        position: relative;
      }

      .dot {
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50px);
      }
    }

    .one {
      margin-top: -15px;
      margin-right: 420px;
      transform: rotate(-20deg);
    }

    .two {
      margin-top: 140px;
      margin-right: 780px;
      transform: rotate(-42deg);
    }

    .three {
      margin-top: 300px;
      margin-right: 1050px;
      transform: rotate(-60deg);
    }

    .four {
      margin-top: -15px;
      margin-left: 420px;
      transform: rotate(20deg);
    }

    .five {
      margin-top: 140px;
      margin-left: 780px;
      transform: rotate(42deg);
    }

    .six {
      margin-top: 300px;
      margin-left: 1050px;
      transform: rotate(60deg);
    }
  }
}

@media screen and (max-width: 1700px) {
  .details {
    gap: 30px;
  }

  .pizzas img {
    width: 700px;
    height: 700px;
    padding: 30px;
    outline-offset: -50px;
  }
  .pizzas .names {
    width: 1000px;
    margin-bottom: 470px;

    div {
      font-size: 16px;

      .dot {
        transform: translate(-50%, 22px);
      }
      .one {
        margin-top: 35px;
        margin-right: 420px;
        transform: rotate(-20deg);
      }
  
      .two {
        margin-top: 140px;
        margin-right: 780px;
        transform: rotate(-42deg);
      }
  
      .three {
        margin-top: 300px;
        margin-right: 1050px;
        transform: rotate(-60deg);
      }
  
      .four {
        margin-top: 35px;
        margin-left: 420px;
        transform: rotate(20deg);
      }
  
      .five {
        margin-top: 140px;
        margin-left: 780px;
        transform: rotate(42deg);
      }
  
      .six {
        margin-top: 300px;
        margin-left: 1050px;
        transform: rotate(60deg);
      }
    }
  }
}